body{
    font: 20px Arial, sans-serif; 
}
.navbar{
    background-color: #84e4c1;
}
.quem-somos{
    background-color: #b985e0;
    color: white;

}
.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}
.parceiros{
    background-color: #908282;
    color: white;
}
.bg-footer{
    padding: 30px;
    background-color: black;
    color: white;
}